@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Gentium+Basic:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Racing+Sans+One&family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: WellFont;
  src: local("WellFont"), local("WellFont"), url("../assets/fonts/wellfont/Wellfont.ttf");
  font-weight: bold; }
@font-face {
  font-family: SandBeach;
  src: local("SandBeach"), local("SandBeach"), url("../assets/fonts/sandbeach/Sand Beach Demo.ttf");
  font-weight: bold; }
body {
  padding: 0;
  margin: 0; }

:root {
  --thema-darkest: #1C1C1C;
  --thema-darkest-transp: #222;
  --thema-darker: #282828;
  --thema-dark: #303030;
  --thema-medium: #505050;
  --thema-light: #8C8C8C;
  --thema-lighter: #b0b0b0;
  --thema-lightest: #EEEEEE;
  --font-gaegu:'Denk One', cursive;
  --font-gentium:'Gentium Basic', serif;
  --dm-sans:'DM Sans', sans-serif;
  --lato:'Lato', sans-serif;
  --font-bubbleGum:'Bubblegum Sans', cursive;
  --thema-green:#04c4ff; }

.navbar {
  background-color: var(--thema-darkest);
  height: 6vh;
  display: flex;
  overflow-x: hidden; }
  .navbar p {
    margin-block-end: 0rem;
    margin-block-start: 0rem;
    margin: auto 0rem;
    font-family: var(--dm-sans);
    color: var(--thema-lightest);
    font-size: 0.88rem;
    letter-spacing: 0.12rem;
    text-indent: 3.2rem;
    opacity: 0.72;
    text-transform: uppercase;
    font-style: normal; }
  .navbar .menu-icon {
    margin: auto -1040px auto auto;
    display: flex;
    transition: all 0.5s;
    transition-timing-function: linear; }
    .navbar .menu-icon #burger-icon {
      width: 48px;
      height: 48px;
      border: unset;
      background: unset;
      background-image: url("../assets/icons/svg-burger.svg");
      background-position: center;
      transition: 0.5s; }
      .navbar .menu-icon #burger-icon:hover {
        background-image: url("../assets/icons/svg-burger-hover.svg");
        cursor: pointer; }

.translateNavbar {
  transform: translateX(-1040px); }

.burgerToggled {
  background-image: url("../assets/icons/light-arrow.svg") !important; }
  .burgerToggled:hover {
    background-image: url("../assets/icons/light-arrow-hover.svg") !important; }

.boutonTk {
  height: 36px !important;
  background-color: var(--thema-light);
  background: url("../assets/elements/texture-dark-blue-cloth.jpg");
  background-position-x: center;
  background-size: cover;
  background-blend-mode: color-burn;
  border: 1px solid black;
  margin: auto 8px;
  color: white;
  border-radius: 4px;
  background-position: 16% center;
  background-repeat: no-repeat;
  transition: 0.5s; }
  .boutonTk:hover {
    background-color: #d8d8d8;
    text-shadow: 0px 0px 1px white,0px 0px 1px white,0px 0px 1px white; }
  .boutonTk a {
    width: 96px;
    color: #eee;
    text-decoration: unset;
    font-size: 0.88rem;
    font-family: var(--dm-sans);
    text-transform: uppercase;
    transition: 0.25s;
    letter-spacing: 0.01rem;
    padding: 4px 20px; }
    .boutonTk a:hover {
      color: white; }

.darkNeon {
  box-shadow: 1px 1px 1px 0px inset #000, 2px 2px 1px 0px inset #0006, 4px 4px 1px 0px inset #0006, -1px -1px 1px 0px inset #0006, -2px -2px 1px 0px inset #0006, -4px -4px 1px 0px inset #0006; }

.divMenu {
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  background-color: #000d;
  display: flex; }
  .divMenu .cadreAbsolu {
    display: flex;
    margin: auto;
    border: 1px solid black;
    background-color: var(--thema-darkest);
    box-sizing: border-box;
    flex-direction: column;
    padding: 2rem; }
    .divMenu .cadreAbsolu a {
      display: flex;
      margin: 0.5rem 0;
      justify-content: start;
      color: var(--thema-lighter);
      text-decoration: none; }

.myCross {
  background: unset;
  border: unset;
  height: 48px;
  width: 48px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/cross.svg");
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.76; }

#anim {
  border: unset;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s; }

button#artwork {
  background-color: #f468; }

#main {
  height: 74vh;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  #main section:first-child {
    height: auto;
    background-size: 100%;
    display: flex;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    position: absolute;
    left: 0.75%;
    align-self: flex-end; }
    #main section:first-child .panneauGauche {
      display: flex;
      flex-basis: 25%;
      flex-direction: column; }
    #main section:first-child .panneauDroit {
      display: flex;
      flex-basis: 100%;
      justify-content: center; }
      #main section:first-child .panneauDroit .switch-frame {
        background-size: cover;
        display: flex;
        margin: 1rem; }
        #main section:first-child .panneauDroit .switch-frame div {
          display: flex;
          margin: auto;
          color: white;
          text-align: center; }

.panneauCentre {
  display: flex;
  flex-basis: 100%; }
  .panneauCentre h3 {
    color: #fff8;
    font-size: 22px;
    font-family: var(--dm-sans);
    font-weight: normal;
    letter-spacing: 0.08rem;
    margin: auto;
    text-transform: uppercase; }

#circleCenter {
  margin: 10rem 0 0; }

.switch-frame {
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto; }

.rightPanel button {
  background: unset;
  border: unset;
  width: 64px;
  height: 32px;
  margin: auto;
  cursor: pointer;
  background-image: url("../assets/icons/icon-testimonial.svg");
  background-size: 42%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.36;
  transition: 0.2s; }
  .rightPanel button:hover {
    opacity: 0.72;
    background-color: unset; }

.leftPanel button {
  background-image: url("../assets/icons/grey-left-arrow.svg"); }
  .leftPanel button:hover {
    background-image: url("../assets/icons/grey-left-arrow-hover.svg"); }

.centerFrame {
  width: 64px;
  height: 64px;
  flex-basis: unset !important;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-out all; }

#circleShow {
  display: flex; }
  #circleShow div {
    flex-basis: 33.33%;
    text-align: center;
    margin: auto; }
    #circleShow div div {
      display: flex;
      margin: auto;
      border-radius: 50%; }

#frameCircle {
  width: 448px;
  height: 448px;
  background-image: url("../assets/spheres/frame-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.5s; }
  #frameCircle:hover {
    background-image: url("../assets/spheres/frame-circle-hover.svg"); }
  #frameCircle:hover .bigCircle {
    box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 2px white inset,0px 0px 2px white inset;
    background-color: #04C4FF16;
    background-blend-mode: soft-light;
    cursor: pointer; }

.smallCircle {
  width: 256px !important;
  height: 256px;
  background-image: url("../assets/elements/pattern-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light; }

.bigCircle {
  background-image: url("../assets/elements/pattern-logo.svg");
  width: 380px !important;
  height: 380px;
  transition: 0.5s;
  background-size: 30% !important;
  background-repeat: repeat !important; }

.section-legend {
  display: flex;
  margin: auto;
  height: 12vh; }
  .section-legend .zoneLegend {
    background-size: cover;
    width: 30vw;
    height: 62px;
    background-repeat: no-repeat;
    border-bottom: 1px solid silver;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center; }
    .section-legend .zoneLegend p {
      font-family: var(--dm-sans);
      font-size: 1rem;
      color: var(--thema-lighter);
      text-align: center;
      letter-spacing: 0.06rem; }

.cadreTestimonial {
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: space-evenly; }
  .cadreTestimonial .encadre {
    margin: auto 2.8rem;
    flex-basis: 33.33%;
    border: 1px solid var(--thema-medium);
    border-radius: 4px;
    height: 477px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center; }
    .cadreTestimonial .encadre .paragraphe {
      justify-content: center;
      text-align: justify;
      padding: 2em;
      border: 1px solid var(--thema-darker);
      border-radius: 4px;
      height: 50%;
      color: var(--thema-lightest);
      font-size: 0.96rem;
      text-indent: 1.4rem;
      letter-spacing: 0.04rem;
      background-image: url("../assets/elements/legend-strip-2.svg");
      opacity: 0.8;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: lighten;
      background-color: #04c4ff32; }
    .cadreTestimonial .encadre .auteur {
      color: var(--thema-light);
      font-family: var(--dm-sans);
      font-style: italic;
      justify-content: flex-end;
      display: flex;
      margin-right: 2rem;
      margin-top: 1.6rem;
      font-size: 1.18rem; }

.fadeIn {
  animation: fadeIn linear 1s; }

.flipMe {
  animation: flipMe linear 0.4s; }

@keyframes flipMe {
  from {
    transform: scale(0.6) translate(0px, -100px); }
  to {
    transform: translate(0px, 0px); } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
footer {
  height: 20vh;
  background-size: cover;
  display: flex;
  background-position: center !important;
  flex-direction: column; }

.dotRow {
  width: 34%;
  margin: 1.8% auto auto;
  height: 6vh;
  display: flex;
  justify-content: center; }
  .dotRow .dotFrame {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-basis: 10%; }
    .dotRow .dotFrame .littleDot {
      display: flex;
      margin: auto;
      width: 20px;
      height: 20px;
      border-radius: 24px;
      background-color: var(--thema-light);
      opacity: 0.6;
      transition: 0.5s width height; }
    .dotRow .dotFrame .active-dot {
      background-color: var(--thema-green);
      opacity: .8;
      width: 16px;
      height: 16px;
      box-shadow: 0px 0px 1px inset #000c,0px 0px 2px inset #000a,0px 0px 4px inset #000a; }

.copyright {
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  box-sizing: border-box; }
  .copyright p {
    color: var(--thema-lightest);
    font-size: 0.84rem;
    letter-spacing: 0.04rem;
    text-transform: capitalize;
    opacity: 0.8; }

.cadre-top, .cadre-bottom {
  height: 20vh;
  background-position: center;
  background-size: cover;
  display: flex; }

.block-center-2 {
  height: 54vh;
  display: flex;
  width: 100%;
  box-sizing: border-box; }
  .block-center-2 .panneau-centre {
    display: flex;
    flex-basis: 65%;
    flex-direction: column; }
  .block-center-2 .panneau-gauche, .block-center-2 .panneau-droit {
    flex-basis: 17.5%;
    display: flex;
    margin: auto;
    flex-direction: column; }

.block-center {
  display: flex;
  flex-direction: column;
  height: 94vh; }
  .block-center .panneau-centre {
    margin: auto auto 0;
    width: 60%; }
  .block-center .panneau-droit {
    margin: 1rem auto auto;
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: var(--thema-dark); }

.cadre-bottom {
  display: flex;
  flex-direction: column; }

.carreGris {
  height: 192px;
  width: 192px;
  display: flex;
  margin: auto; }

.cercleContact {
  width: 140px;
  height: 140px;
  border: 1px solid var(--thema-light);
  margin: auto;
  border-radius: 50%;
  background-image: url("../assets/elements/pattern-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 76%; }

.cadre-bottom .copyright {
  margin: auto auto 0; }

.socle, .modeContact {
  display: flex;
  margin: auto;
  height: 50%;
  flex-basis: 100%;
  background-image: url("../assets/elements/socle-contact.svg");
  background-repeat: no-repeat;
  background-position: center; }

.modeContact, .modeContact a {
  background: unset;
  display: flex; }

.modeContact a {
  margin: auto auto -1rem; }

.buttonLinkedin, .buttonMail, .buttonDonwloadCv, .buttonTelephone, .buttonGithub {
  border: unset;
  background: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 48px;
  width: 48px;
  transition: 0.25s; }
  .buttonLinkedin:hover, .buttonMail:hover, .buttonDonwloadCv:hover, .buttonTelephone:hover, .buttonGithub:hover {
    transform: scale(1.24);
    cursor: pointer; }

.buttonLinkedin {
  background-image: url("../assets/icons/icon-linkedin.svg"); }

.buttonMail {
  background-image: url("../assets/icons/icon-mail.svg"); }

.buttonDonwloadCv {
  background-image: url("../assets/icons/icon-download-cv.svg"); }

.buttonTelephone {
  background-image: url("../assets/icons/icon-telephone.svg"); }

.buttonGithub {
  background-image: url("../assets/icons/icon-github.svg"); }

.panneau-centre {
  display: flex; }

.section-formulaire {
  display: flex;
  flex-direction: column;
  background: unset;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--thema-dark); }
  .section-formulaire h3 {
    font-size: 1.2rem;
    color: var(--thema-light);
    text-transform: uppercase;
    font-family: var(--font-gaegu);
    opacity: 0.92;
    margin: -1rem 1rem auto;
    letter-spacing: 0.16rem; }
    .section-formulaire h3:hover {
      color: var(--thema-green); }
  .section-formulaire .formulaire-tarik {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--thema-darker);
    background-color: var(--thema-darker);
    border-radius: 4px;
    margin: 2% 6%;
    padding: 0.5rem; }
  .section-formulaire .section-display {
    display: flex; }

.section-input {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section-input input, .section-input textarea, .section-input label {
    padding: 0.25rem;
    font-family: var(--dm-sans);
    color: var(--thema-light);
    background-color: var(--thema-dark);
    font-size: 0.92rem;
    border: 1px solid var(--thema-medium);
    border-radius: 2px;
    letter-spacing: 0.01rem; }
  .section-input input::placeholder {
    color: var(--thema-light);
    font-style: oblique; }
  .section-input p {
    margin-block-end: 0;
    margin-block-start: 0; }
  .section-input label {
    width: 40%;
    justify-content: center; }
  .section-input select {
    display: flex; }

#pseudo {
  flex-basis: 50%; }

#notation {
  flex-basis: 25%;
  margin: auto 0 auto;
  justify-content: flex-end;
  text-align: center; }

.section-input textarea {
  flex-basis: 72%; }
  .section-input textarea::placeholder {
    font-style: oblique;
    letter-spacing: 0.01rem;
    color: var(--thema-light); }

.boutonSubmit {
  margin: auto;
  text-align: center;
  justify-content: center;
  font-family: var(--dm-sans);
  font-size: 0.96rem;
  cursor: pointer;
  display: flex;
  transition: 0.5s; }
  .boutonSubmit:hover {
    color: white; }

.tableauCommentaire {
  width: 80%;
  margin: auto 10%;
  border-radius: 4px;
  background-color: var(--thema-darker);
  color: var(--thema-light);
  font-family: var(--dm-sans);
  font-size: 0.88rem;
  padding: 1rem; }

.tableauCommentaire, .tableauCommentaire td {
  border-spacing: 2px; }

.tableauCommentaire td {
  border: 1px solid var(--thema-medium); }

#tdNotation {
  justify-content: center;
  align-items: center;
  text-align: center; }

#commentaire {
  height: 6vh; }

.aDown {
  background-image: url("../assets/icons/sort-arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 18px;
  transition: 0.5s; }
  .aDown:hover {
    background-image: url("../assets/icons/sort-arrow-down-hover.svg"); }

.aUp {
  background-image: url("../assets/icons/sort-arrow-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 18px;
  transition: 0.5s; }
  .aUp:hover {
    background-image: url("../assets/icons/sort-arrow-up-hover.svg"); }

.tableauCommentaire thead th {
  border: 1px solid var(--thema-medium);
  text-align: center; }
  .tableauCommentaire thead th a {
    text-align: center; }

.fillGrey {
  background-color: var(--thema-darkest); }

.divToggle {
  position: absolute;
  top: 8vh;
  right: 10px;
  height: 38px;
  width: 38px;
  background-color: var(--thema-dark);
  border: 0px solid var(--thema-darkest);
  transition: all 0.4s !important;
  border-radius: 4px;
  opacity: 1; }
  .divToggle .titrePanneau {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-gaegu);
    margin: auto;
    box-sizing: border-box;
    letter-spacing: 0.18rem;
    padding: 7px;
    border: 3px solid var(--thema-darkest);
    border-radius: 4px;
    background-image: url("../assets/elements/texture-dark-blue-cloth.jpg");
    background-size: cover;
    text-align: center;
    width: 100%; }
  .divToggle .theCross {
    background: unset;
    cursor: pointer;
    margin: 3px;
    border-radius: 4px;
    border: unset;
    background-image: url("../assets/icons/cross.svg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    float: right;
    transition: 0.5s; }
    .divToggle .theCross:hover {
      background-image: url("../assets/icons/cross-1-hover.svg"); }
  .divToggle a {
    padding: 6px;
    padding-left: 12px;
    display: block;
    box-sizing: border-box;
    width: 98%;
    margin: auto;
    text-decoration: none;
    color: var(--thema-light); }
    .divToggle a:hover {
      background-color: #1eadffd0;
      color: #fff; }

.fermer {
  background-image: url("../assets/icons/cross-1.svg") !important; }
  .fermer:hover {
    background-image: url("../assets/icons/cross-hover.svg") !important; }

.cadre-top .titre-visite {
  color: var(--thema-lightest);
  text-transform: uppercase;
  font-family: var(--dm-sans);
  font-weight: normal;
  letter-spacing: 0.2rem;
  opacity: 0.5;
  font-size: 1.4rem;
  justify-content: center;
  margin: auto; }

.draggable, .case-droppable {
  color: var(--thema-lightest);
  display: flex;
  margin: auto;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center; }

.draggable {
  height: 50px;
  margin: auto;
  cursor: move;
  font-size: 1.1rem;
  border: 0px !important; }

.bgGreen {
  background: var(--thema-green) !important; }

.case-droppable {
  width: 56px;
  height: 56px;
  border: 1px solid var(--thema-light); }

.dragged {
  user-select: none;
  border-radius: 50%;
  width: 44px;
  height: 44px; }

.zone1 {
  width: 80%;
  margin: auto;
  display: flex; }
  .zone1 section {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .zone1 section .zone-titre {
      display: flex;
      width: 84%;
      border-radius: 2px;
      top: -18%;
      margin: 0 auto;
      justify-content: center;
      position: relative;
      padding: 0.4rem;
      background-image: url("../assets/elements/texture-dark-blue-cloth.jpg");
      background-size: cover;
      background-position: center;
      background-color: var(--thema-lighter);
      background-blend-mode: color-burn; }

.zone4 {
  background-color: var(--thema-dark);
  width: 80%;
  margin: auto;
  padding: 1rem; }

.zone-droppable {
  display: grid;
  margin: auto;
  border: 1px solid var(--thema-light);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-image: url("../assets/elements/legend-strip-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%; }

.zone-droppable-2 {
  display: grid;
  margin: auto;
  border: 1px solid var(--thema-light);
  border-radius: 8px;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem; }

.zone-selectable {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  height: 16vh;
  flex-wrap: wrap; }
  .zone-selectable .base {
    margin: auto 2.6rem;
    background-color: var(--thema-darkest-transp);
    width: 50px;
    height: 50px; }

.case-droppable {
  border-radius: 50%; }

.divText, .draggable {
  font-family: var(--dm-sans);
  font-size: 0.84rem; }

.block-center .panneauMilieu, .block-center-2 .panneauMilieu {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  background: var(--thema-darkest);
  border-radius: 6px;
  margin: auto;
  height: 100%;
  background-position: center;
  background-size: cover; }

.block-center-2 .panneauGauche, .block-center-2 .panneauDroit {
  flex-basis: 17.5%;
  display: flex;
  flex-direction: column; }
  .block-center-2 .panneauGauche .carreGris, .block-center-2 .panneauDroit .carreGris {
    margin: auto; }

.dragLegend {
  display: flex;
  justify-content: center; }
  .dragLegend .divText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #fff8;
    background-image: url("../assets/elements/legend-strip-2.svg");
    background-position: 0% 4%;
    background-size: 20%;
    background-repeat: no-repeat;
    border-radius: 4px;
    font-size: 0.92rem;
    height: 4.8vh;
    width: 24vw;
    color: var(--thema-lightest); }

.titrePanneau h4, .zone-titre h4 {
  font-family: var(--font-gaegu);
  color: var(--thema-lightest);
  font-size: 1.12rem;
  font-weight: normal;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  opacity: 0.9;
  margin-block-start: 0em;
  margin-block-end: 0em; }

.titrePanneau h4 {
  justify-content: center;
  text-align: center; }

.panneauQualite {
  width: 80%;
  height: 64%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column; }

.sousPanneau {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  width: 100%; }
  .sousPanneau #qualities {
    display: flex;
    border: 2px solid var(--thema-medium);
    border-radius: 6px;
    margin: auto;
    width: 180px;
    height: 180px;
    flex-wrap: wrap; }
    .sousPanneau #qualities div {
      display: flex;
      border-radius: 8px;
      border: 1px solid transparent;
      width: 60px;
      height: 60px;
      transition: all 0.25s;
      background-position: center;
      background-size: cover; }
    .sousPanneau #qualities #creative {
      background-image: url("../assets/icons/logo-creatif.svg"); }
      .sousPanneau #qualities #creative:hover {
        background-image: url("../assets/icons/logo-creatif-hover.svg"); }
    .sousPanneau #qualities #rigueur {
      background-image: url("../assets/icons/logo-rigueur.svg"); }
      .sousPanneau #qualities #rigueur:hover {
        background-image: url("../assets/icons/logo-rigueur-hover.svg"); }
    .sousPanneau #qualities #implication {
      background-image: url("../assets/icons/logo-implication.svg"); }
      .sousPanneau #qualities #implication:hover {
        background-image: url("../assets/icons/logo-implication-hover.svg"); }
    .sousPanneau #qualities #curiosite {
      background-image: url("../assets/icons/logo-curiosite.svg"); }
      .sousPanneau #qualities #curiosite:hover {
        background-image: url("../assets/icons/logo-curiosite-hover.svg"); }

.compteur {
  width: 48px;
  height: 48px !important;
  display: flex;
  margin-right: 1rem;
  background-color: var(--thema-green); }
  .compteur p {
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    font-family: var(--font-gaegu);
    justify-content: center; }

.bodyParcours {
  animation: fadeIn linear 0.5s;
  flex-direction: column; }
  .bodyParcours nav, .bodyParcours .cadreConteneur .divContenu, .bodyParcours .bandeBouton {
    border: unset; }

.bodyParcours .divContenu {
  margin-top: unset; }

.bgBobines {
  background: url("../assets/elements/bobines-background.png");
  animation: backgroundTranslate2 10s linear infinite;
  background-position: center;
  margin: auto auto 0;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  height: 512px;
  width: 100%;
  background-size: 40%;
  background-color: #04c4ff48;
  background-blend-mode: lighten; }

@keyframes backgroundTranslate2 {
  from {
    background-position: 0% 100%; }
  to {
    background-position: 100% 0%; } }
.pageGauche, .pageDroite {
  border: 1px solid #444;
  flex-basis: 50%;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column; }

.zoneLegend {
  width: 80%; }

.pageGauche, .pageDroite {
  background-image: url("../assets/elements/page-texture.jpg");
  background-position: center;
  background-size: cover;
  transition: 1s;
  opacity: 0.98;
  background-position: center;
  background-repeat: no-repeat; }

.pageGauche:hover, .pageDroite:hover {
  filter: sepia(0.4); }

.cadreConteneur {
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 94vh;
  width: 1024px !important; }

.pageDroite {
  border-top-left-radius: 50%  4%;
  border-top-right-radius: 3%  50%;
  border-bottom-right-radius: 0.5%  49%; }

.pageGauche {
  border-top-right-radius: 50%  4%;
  border-top-left-radius: 3%  50%;
  border-bottom-left-radius: 0.5%  49%; }

.legend, .zoneTitre, .zoneNumero, .zoneNumeroGauche {
  text-align: justify;
  font-family: "Lato",serif;
  font-size: 1rem;
  color: #444 !important; }

.zoneTitre {
  font-size: 1.24rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  align-self: center;
  justify-self: center;
  font-weight: bold;
  justify-content: center;
  margin: 2vh 0 auto;
  font-family: var(--dm-sans);
  opacity: 0.40; }

.pageDroite {
  margin: 2% 10% 2% 0;
  box-shadow: 2px 0px 1px #444a inset, 4px 0px 0px 1px inset #4442, 8px 0px 1px 2px inset #4442, 0px 2px 0px 0px #444,0px 4px 1px 0px #444;
  filter: brightness(101%); }

.pageGauche {
  margin: 2% 0% 2% 10%;
  box-shadow: -2px 0px 1px #444a inset, -4px 0px 0px 4px inset #4442, -12px 0px 1px 2px inset #4442, 0px 2px 0px 0px #444,0px 4px 1px 0px #444; }

.zoneContent, .zoneLegend {
  margin: auto; }

.zoneContent img {
  width: 50%;
  display: flex;
  margin: auto;
  filter: opacity(0.4); }

.bandeBouton {
  margin: 0 auto auto;
  width: 100%;
  box-sizing: border-box;
  height: 8vh;
  display: flex;
  justify-content: center; }
  .bandeBouton .zoneBouton {
    height: auto;
    width: 100%;
    margin: auto;
    flex-basis: 10%;
    text-align: center;
    display: flex; }

.boutonCentre, .boutonCarteVisite {
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.72; }

.boutonCentre {
  background-image: url("../assets/intro-svg/ornement-1.svg");
  transition: all 0.5s; }
  .boutonCentre:hover {
    background-image: url("../assets/intro-svg/ornement-1-hover.svg"); }

.zoneNumero {
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 0.25rem; }

.zoneNumeroGauche {
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0.25rem; }

.boutonNext, .boutonPrev {
  border: unset;
  background: unset;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s; }

.boutonNext[disabled], .boutonPrev[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  filter: hue-rotate(160deg); }

.boutonNext, .boutonPrev {
  height: 48px;
  width: 48px; }

.boutonNext {
  background-image: url("../assets/icons/icon-next.svg"); }

.boutonPrev {
  background-image: url("../assets/icons/icon-prev.svg"); }

.divContenu {
  display: flex;
  margin: auto;
  flex-direction: column;
  border: 1px solid var(--thema-light);
  padding: 4px;
  border-radius: 4px;
  width: 1024px; }

.bandeSteps {
  width: 50vw;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly; }
  .bandeSteps div {
    text-align: center;
    color: white;
    height: 1vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    font-family: var(--dm-sans); }

.glowing {
  transition: 0.5s;
  opacity: 1 !important;
  background-color: var(--thema-green);
  border: 1px solid var(--thema-darker);
  border-radius: 4px;
  box-shadow: 0px 0px 1px var(--thema-darker) inset, 0px 0px 2px var(--thema-darker) inset, 0px 0px 2px var(--thema-darker) inset; }

.cadre {
  height: 94vh;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--thema-dark); }

.sous {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 4px;
  width: 50vw; }

.bandeBouton {
  background: #3a3a3a;
  margin: 2rem auto auto;
  width: 50vw; }
  .bandeBouton #prev, .bandeBouton #next, .bandeBouton #switch {
    height: 32px !important;
    width: 96px;
    background-position: center;
    cursor: pointer;
    border: 4px solid var(--thema-darker); }

::-webkit-scrollbar {
  visibility: hidden; }

.divContent {
  height: 100%;
  margin: auto;
  display: flex;
  background-position: center;
  flex-direction: column;
  flex-basis: 50%; }
  .divContent .heading {
    color: white;
    margin: 1rem 0rem auto;
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: var(--thema-darker);
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.6rem;
    opacity: 0.84;
    font-size: 1.12rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .divContent p:first-of-type {
    margin: 2rem auto 0.5rem; }
  .divContent p {
    text-indent: 1.2rem;
    height: auto;
    margin: 1rem auto auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    color: var(--thema-lightest);
    opacity: 0.6;
    font-size: 0.88rem; }
  .divContent .cadreText {
    border: 12px solid var(--thema-darker);
    margin: auto 3rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--thema-darker); }

.content {
  height: 50vh;
  box-sizing: border-box;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden; }

.forme {
  height: 50vh;
  width: 50vw;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  transform: translate(0px);
  transition: 1s;
  background-position: center;
  background-repeat: no-repeat;
  animation-fill-mode: both;
  background-image: url("../assets/elements/bande-background.svg");
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; }

.divImage {
  height: 100%;
  display: flex;
  margin: auto;
  flex-basis: 50%; }

.carre1, .carre2, .carre3, .carre4, .carre5, .carre6 {
  border-radius: 50%;
  background: var(--thema-darker);
  height: 50%;
  width: 50%;
  margin: auto;
  opacity: 0.8; }

.carre1 {
  background-image: url("../assets/elements/bande-logo.svg"); }

.carre2 {
  background-image: url("../assets/elements/bande-langage.svg"); }

.carre3 {
  background-image: url("../assets/elements/bande-sewing-machine.svg"); }

.carre4 {
  background-image: url("../assets/elements/bande-cash-register.svg"); }

.carre5 {
  background-image: url("../assets/elements/bande-diploma.svg"); }

.carre6 {
  background-image: url("../assets/elements/bande-meditation.svg"); }

.shiftLeft {
  animation: shiftLeft 1s linear forwards; }

@keyframes translate1 {
  from {
    transform: translate(50vw); }
  to {
    transform: translate(0vw); } }
.diapoConteneur {
  width: 80%;
  height: 54vh;
  margin: auto auto 0;
  display: flex;
  transition: 1s;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.emplacement {
  display: flex;
  align-self: center;
  transition: transform 1s !important; }

.divAbsolu {
  margin: auto;
  position: absolute;
  transition-property: filter transform !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }

.oneImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  transition: transform 1s !important; }

#case1, #case2, #case3, #case4, #case5 {
  filter: grayscale(1); }

.imageCenter {
  width: 480px;
  height: 480px; }

.smallImage {
  width: 240px;
  height: 240px; }

#case4 {
  background: gold; }

.rotation1 {
  animation: rotation1 0.5s linear forwards; }

.rotation2 {
  animation: rotation2 0.5s linear forwards; }

@keyframes rotation1 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(90deg); } }
@keyframes rotation2 {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0deg); } }
.panneauAction {
  background-color: var(--thema-darker);
  width: 80%;
  height: 6vh;
  margin: 0 auto auto;
  display: flex; }

.accordeon {
  background-color: var(--thema-dark); }

.accordeonHead {
  background-color: var(--thema-dark);
  font-family: var(--dm-sans);
  padding: 4px;
  padding-left: 8px;
  color: var(--thema-lighter);
  cursor: pointer; }
  .accordeonHead:hover {
    color: white; }

.accordeonContent {
  background: blue;
  height: 0px;
  visibility: hidden;
  transition: height 0.6s; }

.ouvrir {
  display: flex !important;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
  visibility: visible;
  height: 200px;
  color: var(--thema-lightest);
  font-size: 0.80rem;
  background: var(--thema-medium);
  transition: height 0.6s;
  text-align: justify; }

.conteneurAccordeon {
  box-sizing: border-box;
  margin: 0rem 1rem 0.5rem;
  width: auto; }

.cadreCarousel {
  height: 94vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.pict {
  display: flex;
  transition: transform 0.3s; }
  .pict img {
    margin: auto;
    width: 60%; }

#carousel1, #carousel2, #carousel3 {
  margin: auto;
  display: flex;
  box-sizing: border-box; }

#carousel1 .pict img {
  height: 30vh !important; }

#carousel2 .pict img {
  height: 36vh; }

.carousel {
  position: relative;
  overflow-x: hidden;
  margin: auto; }

.carousel__container {
  transition: transform 1s ease;
  transform: translate3d(0, 0, 0);
  height: 42vh;
  display: flex; }

.carousel__container::after {
  content: "";
  clear: both;
  display: table; }

.carousel__item {
  float: left;
  overflow: visible;
  margin: auto; }
  .carousel__item .pict img {
    transition: 0.25s transform ease-in; }
    .carousel__item .pict img:hover {
      transform: translate(0px, -10px) scale(1.1); }

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  background: url("../assets/icons/icon-next.svg") center center no-repeat;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
  background-size: 80%;
  transition: 0.4s;
  transition-property: opacity,transform; }

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2); }

.carousel__prev {
  background: url("../assets/icons/icon-prev.svg") center center no-repeat;
  background-size: 80%;
  right: auto;
  left: 20px; }

.carousel__pagination {
  /*center element en absolute - technique*/
  display: none;
  justify-content: center;
  justify-content: space-evenly;
  margin: auto 40%; }

.carousel__pagination__button {
  background-color: var(--thema-light);
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: flex;
  margin: 0px 4px;
  transition: transform 0.3s;
  cursor: pointer; }

.carousel__pagination__button__active, .carousel__pagination__button:hover {
  transform: scale(1.4);
  background-color: var(--thema-lightest); }

.hidden {
  opacity: 0; }

@media screen and (min-width: 800px) {
  .carousel__pagination {
    display: flex; } }
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.5s both; }

#fenetreModale {
  margin-top: 2rem; }

.js-modal {
  margin-left: 3rem;
  border: 1px solid white;
  padding: 1rem;
  text-decoration: none;
  color: var(--thema-lighter);
  display: flex;
  width: 14vw; }

.modal-wrapper {
  overflow: auto;
  background-color: #06c5;
  border-radius: 4px;
  width: 480px;
  height: 360px;
  padding: 20px;
  max-width: calc(100% - 80px);
  max-height: calc(100% - 80px);
  color: var(--thema-lighter);
  animation: slideFromTop 0.5s both ease-out; }
  .modal-wrapper h5, .modal-wrapper button, .modal-wrapper p {
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--dm-sans); }
  .modal-wrapper h5 {
    padding-left: 0rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff6;
    letter-spacing: 0.04rem; }
  .modal-wrapper ul, .modal-wrapper p {
    list-style: none;
    padding-left: 1rem;
    text-align: justify;
    border: 1px solid #fff4;
    border-radius: 4px;
    font-size: 0.84rem; }
  .modal-wrapper ul {
    padding: 1rem; }
  .modal-wrapper :focus {
    box-shadow: 0px 0px 1px #06c inset, 0px 0px 2px #06c inset, 0px 0px 4px #06c inset !important;
    border: 1px solid #06c;
    background-color: #06c9; }

.js-close {
  background: unset;
  border: unset;
  height: 48px;
  width: 48px;
  float: right;
  background: url("../assets/icons/cross-1.svg") no-repeat center center; }

.modal[aria-hidden='true'] {
  animation: fadeOut 0.5s ease-out; }

.modal[aria-hidden='true'] .modal-wrapper {
  animation-name: slideFromBottom; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes slideFromTop {
  from {
    transform: translateY(-80px); }
  to {
    transform: translateY(0px); } }
@keyframes slideFromBottom {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-80px); } }
.cadreTechnique {
  display: flex;
  height: 94vh;
  box-sizing: border-box;
  flex: auto; }

.asidePanel {
  flex-basis: 25%; }
  .asidePanel #menuGrafik {
    background-color: var(--thema-dark);
    margin: 2.4rem;
    height: 92%; }
    .asidePanel #menuGrafik h4 {
      font-size: 1rem;
      color: #f0f0f0;
      text-transform: uppercase;
      font-family: var(--font-gaegu);
      margin: auto;
      box-sizing: border-box;
      letter-spacing: 0.18rem;
      padding: 4px;
      border: 4px solid var(--thema-darkest);
      border-radius: 4px;
      background-image: url("../assets/elements/texture-dark-blue-cloth.jpg");
      background-blend-mode: luminosity;
      background-color: #04c4ffc4;
      background-size: cover;
      text-align: center;
      width: 100%; }
    .asidePanel #menuGrafik ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .asidePanel #menuGrafik ul li {
        display: flex;
        box-sizing: border-box;
        margin: auto 0.3rem; }
        .asidePanel #menuGrafik ul li a {
          padding: 4px;
          font-size: 0.92rem;
          color: var(--thema-light);
          width: 100%;
          text-decoration: none;
          transition: 0.3s; }
          .asidePanel #menuGrafik ul li a:hover {
            background-color: #04c4ffc4;
            color: var(--thema-darker); }

.sectionPanel {
  flex-basis: 75%; }

.dFlex {
  display: flex;
  min-height: 94vh; }

.loaderDiv {
  min-height: 94vh;
  display: flex; }
  .loaderDiv .loader {
    margin: auto; }

.lds-ripple {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }
.cadreContent2 {
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: 16px solid var(--thema-dark);
  border-top: 16px solid var(--thema-dark); }

.cadre3d canvas {
  background-blend-mode: hard-light; }

.cadreConteneur {
  display: flex;
  justify-content: center; }

.panneauGauche2, .panneauDroit2 {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: 400%;
  background-blend-mode: color-dodge;
  background-color: var(--thema-dark);
  padding: 8px; }

.panneauGauche2 {
  background-blend-mode: hard-light;
  background-position: center;
  background-size: 400%; }

.cadre3d {
  background-color: #b6e3ff;
  display: flex;
  justify-content: center; }
  .cadre3d canvas {
    margin: auto; }

.panneauDroit2 .sousPanneau {
  display: flex;
  flex-direction: column; }

.buttonA[disabled], .buttonB[disabled], .buttonC[disabled] {
  opacity: 0;
  cursor: default !important; }

.buttonA, .buttonB, .buttonC {
  background: radial-gradient(circle, #4C57bF, #5C67CF, #7C87eF);
  box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 3px white inset,0px 0px 4px white inset;
  border-radius: 8px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  font-family: "Denk One";
  cursor: pointer; }

.buttonB {
  background: radial-gradient(circle, #51b792, #61C7A2, #71d7b2);
  box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 3px white inset,0px 0px 4px white inset; }

.buttonC {
  background: radial-gradient(circle, #d45060, #E46070, #f47080);
  box-shadow: 0px 0px 1px white inset, 0px 0px 2px white inset, 0px 0px 3px white inset, 0px 0px 4px white inset; }

.sousPanneau {
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly; }
  .sousPanneau button {
    height: 36px;
    width: 36px;
    background-position: center;
    background-size: cover;
    background-color: unset;
    border: unset;
    transition: 0.5s; }
    .sousPanneau button:hover {
      cursor: pointer; }

.boutonA {
  background-image: url("../assets/3d/icon-paint-house.svg"); }
  .boutonA:hover {
    background-image: url("../assets/3d/icon-paint-house-hover.svg"); }

.toggleToit {
  background-image: url("../assets/3d/icon-roof.svg"); }
  .toggleToit:hover {
    background-image: url("../assets/3d/icon-roof-hover.svg"); }

.toggleMur {
  background-image: url("../assets/3d/icon-walls.svg"); }
  .toggleMur:hover {
    background-image: url("../assets/3d/icon-wall-hover.svg"); }

.toggleSol {
  background-image: url("../assets/3d/icon-floor.svg"); }
  .toggleSol:hover {
    background-image: url("../assets/3d/icon-ground-hover.svg"); }

.toggleCloison {
  background-image: url("../assets/3d/icon-cloison.svg"); }
  .toggleCloison:hover {
    background-image: url("../assets/3d/icon-cloison-hover.svg"); }

.togglePorte {
  background-image: url("../assets/3d/icon-door.svg"); }
  .togglePorte:hover {
    background-image: url("../assets/3d/icon-door-hover.svg"); }

.toggleFenetre {
  background-image: url("../assets/3d/icon-window.svg"); }
  .toggleFenetre:hover {
    background-image: url("../assets/3d/icon-window-hover.svg"); }

.toggleLight {
  background-image: url("../assets/3d/icon-light.svg"); }
  .toggleLight:hover {
    background-image: url("../assets/3d/icon-light-hover.svg"); }

.panneauInfo {
  background: var(--thema-dark);
  border-radius: 4px;
  display: flex;
  width: 16vw;
  left: 2.4%;
  top: 21.5%;
  position: absolute;
  flex-direction: column; }
  .panneauInfo .panneauTitre {
    font-size: 1.2rem;
    color: var(--thema-lighter);
    text-transform: uppercase;
    font-family: var(--font-gaegu);
    opacity: 0.92;
    margin: -1rem 1rem auto;
    letter-spacing: 0.16rem; }
  .panneauInfo .panneauContent {
    border: 1px solid var(--thema-darker);
    flex: auto;
    width: auto;
    margin: 2% 4% 4% 4%;
    box-sizing: border-box; }
    .panneauInfo .panneauContent ul {
      list-style-type: none;
      background: var(--thema-darker);
      margin: auto;
      padding: 8px;
      color: #04c4ff;
      min-height: 36vh;
      font-size: 0.84rem; }

@media screen and (max-width: 1000px) {
  nav, #main, footer {
    display: none !important; }

  .sousDiv {
    display: flex;
    height: 100vh;
    flex-direction: column; }

  .sousSection {
    height: 50vh;
    width: 100vw;
    flex-basis: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--thema-darkest);
    margin: auto;
    display: flex; }
    .sousSection .myH1, .sousSection .myH2 {
      text-transform: uppercase;
      font-weight: normal; }
    .sousSection .myH1 {
      margin: auto auto 1rem;
      color: var(--thema-lightest);
      font-size: 1.4rem;
      letter-spacing: 0.16rem;
      font-family: var(--dm-sans); }
    .sousSection .myH2 {
      margin: 1rem auto auto;
      font-family: var(--font-bubbleGum);
      font-size: 0.90rem;
      letter-spacing: 0.1rem;
      color: var(--thema-green); }

  #section-0 .sousSection:first-child {
    background-image: url("../assets/responsive/bg-circle.svg"), linear-gradient(180deg, var(--thema-dark), var(--thema-darkest)); }

  .divOpen {
    width: 64%;
    height: 72%;
    border: 3px solid var(--thema-medium);
    border-radius: 20px;
    margin: auto;
    display: flex; }

  .bg-circle {
    background-image: url("../assets/responsive/big-circle-2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }

  .paraTemp {
    color: #fffa;
    justify-content: center;
    margin: auto;
    align-self: center;
    text-align: center; }

  .reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(-100px); }

  .reveal-visible [class*="reveal-"] {
    opacity: 1;
    transition: 1s cubic-bezier(0.54, 0, 0, 1);
    transform: translateY(0px); }

  .reveal-visible .reveal-2 {
    transition-delay: 1s; }

  .reveal-visible .reveal-3 {
    transition-delay: 1.2s !important; }

  .reveal-visible .reveal-4 {
    transition-delay: 1.4s !important; } }
@media screen and (max-width: 1000px) and (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 1;
    transform: translateY(0px); } }
p, ul, li, a, button, h4 {
  font-family: var(--dm-sans); }

.myBody {
  min-height: 100%;
  background-color: #282828;
  max-height: 100%; }

.flex {
  display: flex;
  flex: auto;
  height: 94vh; }

.align-self {
  margin: auto;
  padding: 4px;
  border: 1px solid var(--thema-light);
  border-radius: 4px; }

.error, .valid {
  color: #f38;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-block-end: 0;
  margin-block-start: 0;
  text-indent: 4px; }

.valid {
  color: #2f6; }

.section-error {
  border: 1px solid var(--thema-medium);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem; }

/*# sourceMappingURL=style.css.map */
