.cadre-top, .cadre-bottom{
    height: 20vh;
    // background-image:url('../assets/elements/cadre-top.svg');
    background-position: center;
    background-size: cover;
    display: flex;
}

.block-center-2{
    height:54vh;
    display:flex;
    width: 100%;
    box-sizing: border-box;
    .panneau-centre{
        display: flex;
        // width: auto;
        flex-basis: 65%;
        flex-direction: column;
    }
    .panneau-gauche, .panneau-droit{
        flex-basis:17.5%;
        // border:1px solid red;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
}

.block-center{
    display: flex;
    flex-direction: column;
    height: 94vh;
    .panneau-centre{
        margin:auto auto 0;
        width: 60%;
    }
    .panneau-droit{
        margin:1rem auto auto;
        display: flex;
        justify-content: center;
        width: 60%;
        // border:1px solid red;    
        background-color:var(--thema-dark);
    }
}



.cadre-bottom{
    // background-image:url('../assets/elements/cadre-bottom.svg');
    display: flex;
    flex-direction: column;
}

.carreGris{
    height:192px;
    width: 192px;
    display: flex;
    margin: auto;
}


.cercleContact{
    width: 140px;
    height: 140px;
    border:1px solid var(--thema-light);
    margin: auto;
    border-radius: 50%;
    background-image:url('../assets/elements/pattern-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 76%;
}

.cadre-bottom .copyright{
    // border:1px solid red;
    margin:auto auto 0;
}

.socle, .modeContact{
    display: flex;
    margin: auto;
    height: 50%;
    flex-basis: 100%;
    background-image:url('../assets/elements/socle-contact.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.modeContact, .modeContact a{
    background:unset;
    display: flex;
}
.modeContact a{
    margin:auto auto -1rem;
}

.buttonLinkedin, .buttonMail, .buttonDonwloadCv, .buttonTelephone,.buttonGithub{
    // background:unset;
    border:unset;
    background:unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 48px;
    width: 48px;
    transition:0.25s;
    &:hover{
        transform:scale(1.24);
        cursor: pointer;
    }
}

.buttonLinkedin{
    background-image: url('../assets/icons/icon-linkedin.svg');
    // &:hover{
    //     background-image: url('../assets/icons/icon-linkedin-hover.svg');
    // }
}

.buttonMail{
    background-image: url('../assets/icons/icon-mail.svg');
    // &:hover{
    //     background-image: url('../assets/icons/icon-mail-hover.svg');
    // }
}

.buttonDonwloadCv{
    background-image: url('../assets/icons/icon-download-cv.svg');
    // &:hover{
    //     background-image: url('../assets/icons/icon-download-cv-hover.svg');
    // }
}

.buttonTelephone{
    background-image: url('../assets/icons/icon-telephone.svg');
    // &:hover{
    //     background-image: url('../assets/icons/icon-telephone-hover.svg');
    // }
}

.buttonGithub{
    background-image: url('../assets/icons/icon-github.svg');
    // &:hover{
    //     background-image: url('../assets/icons/icon-github-hover.svg');
    // }
}

.panneau-centre{
    display: flex;
}

.section-formulaire{
    display: flex;
    flex-direction: column;
    background:unset;
    width: 100%;
    // overflow-y: scroll;
    box-sizing: border-box;
    background-color:var(--thema-dark);
    h3{
        font-size: 1.2rem;
        color:var(--thema-light);
        text-transform: uppercase;
        font-family: var(--font-gaegu);
        opacity: 0.92;
        margin:-1rem 1rem auto;
        letter-spacing: 0.16rem;
        &:hover{
            color:var(--thema-green);
        }
    }
    .formulaire-tarik{
        display: flex;
        flex-direction: column;     
        border:1px solid var(--thema-darker);
        background-color:var(--thema-darker);
        border-radius: 4px;
        margin: 2% 6%;
        padding:0.5rem;
    }
    .section-display{
        // border:1px solid yellow;
        display: flex;
    }
}



.section-input{
    display: flex;
    padding:0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    input, textarea, label{   
        padding:0.25rem;
        font-family: var(--dm-sans);
        color:var(--thema-light);
        background-color:var(--thema-dark);
        font-size:0.92rem;
        border:1px solid var(--thema-medium);
        border-radius:2px;
        letter-spacing: 0.01rem;
    }
    input::placeholder{
        color:var(--thema-light);
        font-style: oblique;
    }
    p{
        margin-block-end: 0;
        margin-block-start: 0;
    }
    label{
        // border:1px solid white;
        width:40%;
        justify-content: center;
        // text-align: center;
        // font-style: oblique;
        // background-color:var(--thema-dark);
        // color:var(--thema-light);
    }
    select{
        display: flex;
        // margin:0rem 2rem;
    }
}   

#pseudo{
    flex-basis: 50%;
}

#notation{
    flex-basis: 25%;
    margin:auto 0 auto;
    justify-content: flex-end;
    text-align: center;
}

.section-input textarea{
    flex-basis: 72%;
    &::placeholder{
        font-style: oblique;
        letter-spacing: 0.01rem;
        color:var(--thema-light);
    }
}

.boutonSubmit{
    margin:auto;
    text-align: center;
    justify-content: center;
    font-family: var(--dm-sans);
    font-size:0.96rem;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
    &:hover{
        color:white;
    }
}

.tableauCommentaire{
    width: 80%;
    margin:auto 10%;
    border-radius:4px;
    background-color:var(--thema-darker);
    color:var(--thema-light);
    font-family: var(--dm-sans);
    font-size:0.88rem;
    padding:1rem;
}

.tableauCommentaire, .tableauCommentaire td{
    border-spacing: 2px;    
}

.tableauCommentaire td{
    border:1px solid var(--thema-medium);
}

#tdNotation{
    // border:2px solid blue;
    justify-content: center;
    align-items: center;
    text-align: center;
    // width: 16%;
}

#commentaire{
    height:6vh;

}

.aDown{
    background-image: url('../assets/icons/sort-arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    // width:48px;
    height: 18px;
    transition: 0.5s;
    &:hover{
        background-image: url('../assets/icons/sort-arrow-down-hover.svg');
    }
}
.aUp{
    background-image: url('../assets/icons/sort-arrow-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    // width:48px;
    height: 18px;
    // border:1px solid red;
    transition: 0.5s;
    &:hover{
        background-image: url('../assets/icons/sort-arrow-up-hover.svg');
    }
}

.tableauCommentaire thead th{
    border:1px solid var(--thema-medium);
    text-align: center;
    a{
        text-align: center;
    }
}

.fillGrey{
    background-color:var(--thema-darkest);
}


.divToggle{
    position: absolute;
    top:8vh;
    right:10px;
    height:38px;
    width:38px;
    background-color: var(--thema-dark);
    border:0px solid var(--thema-darkest);
    transition:all 0.4s!important;
    border-radius: 4px;
    opacity: 1;
    .titrePanneau{
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        font-family: var(--font-gaegu);
        margin:auto;
        box-sizing: border-box;
        letter-spacing: 0.18rem;
        padding:7px;
        border:3px solid var(--thema-darkest);
        border-radius: 4px;
        background-image: url('../assets/elements/texture-dark-blue-cloth.jpg');
        background-size: cover;
        text-align: center;
        width: 100%;
        // background-color: #04c4ff48;
    }
    .theCross{
        // border:2px solid var(--thema-light);
        background:unset;
        cursor: pointer;
        margin: 3px;
        border-radius: 4px;
        border: unset;
        background-image: url('../assets/icons/cross.svg');
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        width:34px;
        height:34px;
        float: right;
        transition:0.5s;
        &:hover{
            background-image: url('../assets/icons/cross-1-hover.svg');
        }
    }
    a{
        // border: 1px solid bisque;
        padding: 6px;
        padding-left:12px;
        display: block;
        box-sizing: border-box;
        width: 98%;
        margin:auto;
        text-decoration: none;
        color:var(--thema-light);
        &:hover{
            // background-color: #f46;
            background-color: #1eadffd0;
            // color:var(--thema-lightest);
            color:#fff;
        }
    }
}

.fermer{
    background-image: url('../assets/icons/cross-1.svg')!important;
    &:hover{
        background-image: url('../assets/icons/cross-hover.svg')!important;
    }
}