footer{
    // background-image:url('../assets/elements/cadre-bottom.svg');
    height: 20vh;
    background-size: cover;
    display: flex;
    background-position:center!important;
    flex-direction: column;
}

.dotRow{
    // border:1px solid red;
    width:34%;
    margin:1.8% auto auto;
    height: 6vh;
    display: flex;
    justify-content: center;
    // border:1px solid red;
    .dotFrame{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        flex-basis: 10%;
        .littleDot{
            // border:1px solid red;
            display: flex;
            margin: auto;
            // border:2px solid greenyellow;
            width: 20px;
            height: 20px;
            border-radius: 24px;
            background-color: var(--thema-light);
            opacity: 0.6;
            transition:0.5s width height;
        }
        .active-dot{
            // background-color:#C4FF00c4;
            background-color:var(--thema-green);
            // background-color:red;
            opacity: .8;
            width: 16px;
            height: 16px;
            // border:1px solid black;
            box-shadow: 0px 0px 1px inset #000c,0px 0px 2px inset #000a,0px 0px 4px inset #000a;
        }
    }
}

.copyright{
    justify-content: center;
    display: flex;
    // border:1px solid red;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
     p{
    color:var(--thema-lightest);
    font-size:0.84rem;
    letter-spacing: 0.04rem;
    text-transform: capitalize;
    opacity: 0.8;
    }
}
    