#main{
    height:74vh;
    // background-position: 0px 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    section:first-child{
        height:auto;
        background-size: 100%;
        display: flex;
        background-repeat: no-repeat;
        flex-wrap: wrap;
        position: absolute;
        left:0.75%;
        align-self: flex-end;
        .panneauGauche{
            // border:2px solid greenyellow;
            display: flex;
            flex-basis: 25%;
            flex-direction: column;
        }
        .panneauDroit{
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            .switch-frame{
                background-size: cover;
                display: flex;
                margin:1rem;
                // border:1px solid var(--thema-darker);
                // background-position: center;
                // background-image:url('../assets/elements/texture-dark-blue-cloth.jpg');
                // background-color:#78dfff40;
                // background-blend-mode: color-dodge;
                div{
                    display: flex;
                    margin: auto;
                    color:white;
                    text-align: center;
                }
            }
        }
    }
    #circleShow{
        // border:1px solid red;
    }
}

.panneauCentre{
    display: flex;
    flex-basis: 100%;
    h3{
        color:#fff8;
        font-size: 22px;
        font-family: var(--dm-sans);
        font-weight: normal;
        letter-spacing: 0.08rem;
        margin: auto;
        text-transform: uppercase;
    }
}


#circleCenter{
    margin: 10rem 0 0;
}

.leftPanel, .rightPanel{
    // width:40px;
}

// carousel bouton

.switch-frame{
    // background-color:var(--thema-darker);
    border-radius:6px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.rightPanel button{
    background:unset;
    border:unset;
    width:64px;
    height: 32px;
    margin:auto;
    cursor: pointer;
    background-image:url('../assets/icons/icon-testimonial.svg');
    background-size:42%;
    background-position:center;
    background-repeat: no-repeat;
    opacity: 0.36;
    transition:0.2s;
    &:hover{
        opacity:0.72;
        background-color:unset;
    }
}



.leftPanel button{
    background-image:url('../assets/icons/grey-left-arrow.svg');
    &:hover{
        background-image:url('../assets/icons/grey-left-arrow-hover.svg');
    }
}

.centerFrame{
    width:64px;
    height:64px;
    flex-basis: unset!important;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-out all;
}

#circleShow{
    display: flex;
    // flex-direction: column;
    div{
        flex-basis: 33.33%;
        // align-self: bottom;
        text-align: center;
        margin: auto;
        div{
            display: flex;
            margin: auto;
            border-radius: 50%;
            // border:2px solid silver;
        }
    }

}


#frameCircle{
    width:448px;
    height:448px;
    // display:flex;
    // border:32px dashed var(--thema-light);
    background-image: url('../assets/spheres/frame-circle.svg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    transition: 0.5s;
    &:hover{
        background-image: url('../assets/spheres/frame-circle-hover.svg');
    }
    &:hover .bigCircle{
        box-shadow: 0px 0px 1px white inset,0px 0px 2px white inset,0px 0px 2px white inset,0px 0px 2px white inset;
        background-color: #04C4FF16;
        background-blend-mode: soft-light;
        cursor: pointer;
    }
}

.smallCircle{
    width: 256px!important;
    height: 256px;
    background-image:url('../assets/elements/pattern-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    // background-color: #04C4FF08;
    background-blend-mode: soft-light;
}

.bigCircle{
    // border:2px solid silver;
    background-image:url('../assets/elements/pattern-logo.svg');
    width: 380px!important;
    height: 380px;
    transition: 0.5s;
    background-size: 30%!important;
    background-repeat: repeat!important;
    // position: absolute;
    // transform: rotate(-45deg);
}

.section-legend{
    display: flex;
    margin: auto;
    height:12vh;   
    // border:1px solid red;
    // background-position: center;
    .zoneLegend{
        background-size: cover;
        width:30vw;
        height: 62px;
        background-repeat: no-repeat;
        // background-image: url('../assets/elements/border-legend.svg');
        border-bottom:1px solid silver;
        justify-content: center;
        display: flex;
        margin: auto;
        align-items: center;
        p{
            font-family: var(--dm-sans);
            font-size:1rem;
            color:var(--thema-lighter);
            text-align:center;
            letter-spacing: 0.06rem;
        }

    }
}


.cadreTestimonial{
    margin:auto;
    width: 80vw;
    display: flex;
    // border:1px solid silver;
    justify-content: space-evenly;
    .encadre{
        margin: auto 2.8rem;
        flex-basis: 33.33%;
        border:1px solid var(--thema-medium);
        border-radius:4px;
        height:477px;
        display: flex;
        flex-direction: column;
        padding:1rem;
        justify-content: center;
        .paragraphe{
            justify-content: center;
            text-align: justify;
            padding:2em;
            border:1px solid var(--thema-darker);
            border-radius:4px;
            height:50%;
            color:var(--thema-lightest);
            font-size:0.96rem;
            text-indent: 1.4rem;
            letter-spacing: 0.04rem;
            background-image:url('../assets/elements/legend-strip-2.svg');
            opacity: 0.8;
            // flex: inherit;
            background-position:center;
            background-repeat: no-repeat;
            background-blend-mode: lighten;
            background-color: #04c4ff32;
            // background-color: var(--thema-dark);
        }
        .auteur{
            color:var(--thema-light);
            font-family: var(--dm-sans);
            font-style: italic;
            justify-content:flex-end;
            display: flex;
            margin-right:2rem;
            margin-top:1.6rem;
            font-size:1.18rem;
        }
    }
}


.fadeIn{
    animation: fadeIn linear 1s;
}

.flipMe{
    animation: flipMe linear 0.4s;
}


@keyframes flipMe{
    from{
        transform: scale(0.6) translate(0px,-100px);
    }
    to{
        transform: translate(0px,0px);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

