@media screen and (max-width: 1000px) {
    .myBody{
        // visibility: hidden!important;
    }
    nav, #main, footer{
        display: none!important;
    }

    .section-responsive{
        // height:100vh;
        // border:1px solid red;
    }

    .sousDiv{
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    .sousSection{
        height:50vh;
        width: 100vw;
        flex-basis: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--thema-darkest);
        margin: auto;
        display: flex;
        .myH1, .myH2{
            text-transform: uppercase;
            font-weight: normal;
        }
        .myH1{
            margin:auto auto 1rem;
            color:var(--thema-lightest);
            font-size: 1.4rem;
            letter-spacing: 0.16rem;
            font-family: var(--dm-sans);
        }
        .myH2{
            margin: 1rem auto auto;
            font-family: var(--font-bubbleGum);
            font-size: 0.90rem;
            letter-spacing: 0.1rem;
            color:var(--thema-green);
        }
    }

    #section-0 .sousSection:first-child{
        background-image: url('../assets/responsive/bg-circle.svg'),linear-gradient(180deg, var(--thema-dark),var(--thema-darkest));
    }
    .sousSection + .sousSection{
        // border:2px solid blue;
    }

    .divOpen{
        width:64%;
        height:72%;
        border:3px solid var(--thema-medium);
        border-radius:20px;
        margin: auto;
        display: flex;
    }

    .bg-circle{
        background-image: url('../assets/responsive/big-circle-2.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;    
    }

    .paraTemp{
        color:#fffa;
        justify-content: center;
        margin:auto;
        align-self: center;
        text-align: center;
    }

    .reveal [class*="reveal-"]{
        opacity: 0;
        transform: translateY(-100px);
    }
    
    .reveal-visible [class*="reveal-"]{
        opacity: 1;
        transition:1s cubic-bezier(0.54,0,0,1);
        // transition:0.5s linear;
        // transition-property: transform;
        transform: translateY(0px);
    }
    .reveal-visible .reveal-2{
        transition-delay: 1s;
    }
    .reveal-visible .reveal-3{
        transition-delay: 1.2s!important;
    }
    .reveal-visible .reveal-4{
        transition-delay: 1.4s!important;
    }
    
    
    @media (prefers-reduced-motion: reduce) {
        .reveal [class*="reveal-"]{
            opacity: 1;
            transform: translateY(0px);
        }
    }

}